<% provide(:title, "Top") %>

<div class="center jumbotron">
  <% if logged_in? && current_user.admin? %> <!--管理者画面-->
    <h1>Online_Visit</h1>
    <p>【管理者用画面】</p>
  <% elsif logged_in? && !current_user.admin? %>
    <!--ログイン済みUser表示用-->
    <h1>Online_Visit</h1>
    <%= link_to "#{current_user.name} / 予約する", user_path(current_user.id), class: "btn btn-lg btn-primary" %>
    <div id="set-btn">
      <%= link_to "　#{current_user.name} / 設定　", edit_user_path(current_user.id), class: "btn btn-lg btn-primary" %>
    </div>
  <% else %>
    <h1>Online_Visit</h1> <!--未ログインUser表示用-->
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
    <p>アカウント作成は<%= link_to "こちら", signup_path %>から</p>
  <% end %>
</div>