<% provide(:title, "基本情報修正") %>

<h1>基本情報の修正</h1>

<!--<div class="row">-->
<!--  <div class="col-md-6 col-md-offset-3">-->
    <%#= form_with(model: @user, url: update_basic_info_path(params: {id: @user.id}), local: true, method: :patch) do |f| %>
      <%#= render 'shared/error_messages', model: f.object %>

      <%#= f.label :work_time, class:'control-label' %>
      <%#= f.time_field :work_time, class: 'form-control' %>

      <%#= f.label :basic_work_time %>
      <%#= f.time_field :basic_work_time, class: 'form-control' %>

      <%#= f.label :designated_work_start_time %>
      <%#= f.time_field :designated_work_start_time, class: 'form-control' %>

      <%#= f.label :designated_work_end_time %>
      <%#= f.time_field :designated_work_end_time, class: 'form-control' %>
    
      <%#= f.submit "更新する", class: "btn btn-primary" %>
    <%# end %>
<!--  </div>-->
<!--</div>-->
