<% provide(:title, @user.name) %>
<%= render 'header_info_table' %>

<table class="table table-striped table-bordered table-condensed table-hover user-table">
  <thead>
    <tr style="background: #FFFFBB">
      <th rowspan="3"><%= l(@first_day, format: :long) %></th>
      <th>10:00</th>
      <td>10:30</td>
      <th>11:00</th>
      <td>11:30</td>
      <th>12:00</th>
      <td>12:30</td>
      <th>13:00</th>
      <td>13:30</td>
      <th>14:00</th>
      <td>14:30</td>
      <th>15:00</th>
      <td>15:30</td>
      <th>16:00</th>
      <td>16:30</td>
      <th>17:00</th>
      <td>17:30</td>
      <th>18:00</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'show_body' %>
  </tbody>

</table>

<!--モーダルウインドウ表示-->
<div id="reserve" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
