<!--@userが存在しない拠点一覧で使用できない為未使用（それ以外は使用可）-->
<% if model.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      入力エラーが<%= model.errors.count %>件ありました。
    </div>
    <ul>
      <% if model.name.present? %>
              【<%= @user.name %>】
      <% end %>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>