@import "bootstrap-sprockets";
@import "bootstrap";

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
vertical-align: middle;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.center.jumbotron{
  margin-top: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h4 {
  font-size: 1.8em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  // height: auto !important;
  min-height: initial !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// ボタン
.btn-attendances-update {
  position: relative;
  width: 25%;
  margin: 4px;
  left: 20%;
  float: left;
}

.btn-attendances-cancel {
  position: relative;
  width: 25%;
  margin: 9px;
  left: 20%;
  float: left;
}

.btn-primary {
  margin: 5px 0px 10px 0px;
}

// 検索フォーム
input[type="text"] {
  height: 34px;
}

.input-group {
  float: right;
  display: inline-block;
}

.text-search {
  display: inline-block;
  width: 200px;
}

.search-button {
  display: inline-block;
}
    
.csv-edit-button {
 margin: 10px;
}

// 拠点追加
.base-btn {
  float: right;
  margin: 10px 10px 10px 16px;
}

.base-table td {
  display: block;
  align-items: center;
  vertical-align: center;
  text-align: center;
  display: table-cell;
}

.base-table th {
  display: block;
  align-items: center;
  vertical-align: center;
  text-align: center;
  display: table-cell;
}

/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

.modal-content {
  width: 180%;
  margin-left:-250px;
  margin-top: -80px;
  border: none;
}

.modal-body {
  align-items: center;
  vertical-align: center;
  text-align: center;
  padding: 0 50px;
}

.modal-footer {
  margin-bottom: 100px;
}

.table-bordered {
  align-items: center;
  vertical-align: center;
  text-align: center;
}

#set-btn {
  margin: 5px;
}

.modal-position{
  margin: 20px;
}

.title-position {
  text-align: center;
}

#user_month_approval.form-control {
  margin-top: 10px;
}

#change-btn {
  width: 20%;
  float: right;
}

input[type="checkbox"]{
  margin: 6px 6px;
}

.header_name_color {
  float: left;
  padding-left: 20px;
  margin-left: 30px;
  margin-top: 12px;
  font-size: 18px;
}

#log-head {
  margin-bottom: 100px;
}

#exampleModalLabel {
  font-size: 30px;
  text-align: center;
}

.over-modal-footer {
  padding: 0 20px 0px 800px;
}

#notice-message {
  float: right;
  margin: 15px;
}

#over-modal-position {
  margin-top: 300px;
}

.panel-title {
  margin-right: 815px;
}

.btn-default {
  color: #333;
  background-color: #DADADA;
  border-color: #ccc;
  padding: 7px 70px;
}

//勤怠ログのスクロール
.vertical-scroll-table{
  color: #5e5e5e;
  max-height: 150px;
  overflow: auto;
  overflow-x: hidden;
}
.vertical-scroll-table table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.vertical-scroll-table table thead tr{
  font-weight: bold;
  text-align: center;
  background-color: #f3f4f5;
}
.vertical-scroll-table table tbody tr:nth-child(even){
  background-color: #fafbfc;
}
.vertical-scroll-table table td{
  padding: 10px;
}

.link a:visited {
  color: #777777;
}

//お知らせリンク
.notice {
  color: red;
  margin: 0;
  font-size: 14px;
}

.notice_black {
  color: #333333;
  margin: 0;
  font-size: 14px;
}

.notice_radius {
  color: red;
  background: #FFF;
  border: solid 1px red;/*線*/
  border-radius: 2px;/*角の丸み*/
  padding: 0.5px;
}

a.notice_radius {
  color: red;
}












