/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
    margin:0 auto;
    text-align: center;
    
  }  
}

.user-table {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
  vertical-align: middle;
  text-align: center;
}
