@charset "UTF-8";
/* ユーザー一覧ページ */
#table-users td {
  vertical-align: middle;
  display: table-cell; }

.user-table th {
  vertical-align: middle;
  text-align: center;
  display: table-cell; }
.user-table td {
  vertical-align: middle;
  text-align: center;
  display: table-cell; }

